.DS_Store
.pytest_cache
*runs*
*__pycache__*
*.pyc
*.traj
*.cif
*.csv
*.log
*.in
*.out
*.data
*.png
*.lammps
__pycache__/
*tmp_files/*
*.egg-info/

# test file should still be committed
!tests/data/**.pkl
!tests/data/*/*.pkl
!tests/data/**.cif
!tests/data/*/*.cif
