.DS_Store
.pytest_cache
*runs*
*__pycache__*
*.pyc
*.traj
*.cif
*.in
*.out
*.data
*.png
*.lammps
__pycache__/
*tmp_files/*

# test file should still be committed
!tests/resources/*.pkl
!tests/resources/*.cif
